<div class="container-fluid">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-5 text-center">
      <mat-card class="mt-3" style="background-color: rgba(253,253,253,0.99);">
        <h1>Upload Files for Analysis</h1>
        <h3>Files must be in png format, 256x256 pixels</h3>
        <br>
        <app-file-upload (complete)="onFileComplete($event)"></app-file-upload>
        <!--<button mat-raised-button color="primary" (click)="fileInput.click()">Click to Upload File</button>-->
        <!--<br>-->
        <!--<input hidden id="singleFile" type="file" #fileInput [fileUploadInputFor]="fileUploadQueue" accept="image/x-png/">-->
        <!--<br>-->

        <!--<p>or...</p>-->

        <!--<div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">-->
          <!--Just drag and drop files here-->
        <!--</div>-->

        <!--<div class="text-center mx-auto" style="width: 500px">-->
          <!--<mat-file-upload-queue #fileUploadQueue-->
                                 <!--[fileAlias]="'file'"-->
                                 <!--[httpUrl]="'http://file.io'"-->
                                 <!--accept="image/x-png"-->
                                 <!--multiple>-->

            <!--<mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>-->
          <!--</mat-file-upload-queue>-->
        <!--</div>-->
      </mat-card>
    </div>

    <div class="col-5 text-center">
      <mat-card class="mt-3" style="background-color: rgba(253,253,253,0.99);">
        <h3>Metadata</h3>
        <div class="form-container mx-auto">
          <mat-form-field class="m-1">
            <input matInput placeholder="SensorID">
            <mat-hint>Default is UPLOAD, don't touch this unless you know what you're doing</mat-hint>
          </mat-form-field>

          <mat-form-field class="m-1">
            <input matInput placeholder="Sensor Name">
            <mat-hint>Default is UPLOAD, don't touch this unless you know what you're doing</mat-hint>
          </mat-form-field>

          <mat-form-field class="m-1">
            <input matInput [matDatepicker]="date" placeholder="Date Data Collected">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="m-1">
            <mat-select placeholder="Zone Location">
              <mat-option value="zone1">Zone 1</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>
      <!-- Options for Other Data -->
    </div>
    <div class="col-1">

    </div>
  </div>
</div>

