<div>
  <div class="container mx-0 px-0 my-2">
    <div class="row mx-0">
      <div class="col-6 text-left">
        <p class="mb-0">S10A</p>
        <p class="subtext mb-0">Sector 10-A1232</p>
      </div>
      <div class="col-6 text-right">
        <p class="yellow small mt-2">Weak Connection</p>
      </div>
    </div>
  </div>
  <mat-divider class="" [inset]="true"></mat-divider>
  <div class="container mx-0 px-0 my-2">
    <div class="row mx-0">
      <div class="col-6 text-left">
        <p class="mb-0">S10A</p>
        <p class="subtext mb-0">Sector 10-A1232</p>
      </div>
      <div class="col-6 text-right">
        <p class="green small mt-2">Connected</p>
      </div>
    </div>
  </div>
  <mat-divider class="" [inset]="true"></mat-divider>
</div>
