#header {
  z-index: 1000;
}

.mat-toolbar.mat-primary {
  background: #ffffff;
  color: #1f1f1f;
}

.menu-spacer {
  flex: 1 1 0;
}

button:focus {
  outline: 0 !important;
}

mat-sidenav > .mat-button {
  width: 100%;
}

a:hover {
  color: black;
  text-decoration: none;
}

body {
  overflow: hidden !important;
}

#header {
  position: relative;
}

.transparent-background {
  background-color: transparent;
  color: white;
  position: absolute !important;
}

.white-background {
  background-color: white;
  color: black;
  position: relative;
}
