<mat-toolbar id="header"  [class.transparent-background]="transparentBackground" [class.white-background]="!transparentBackground" [class.position-absolute]="positionAbsolute" >
  <mat-toolbar-row>

    <h1 routerLink="/">BIOSEER</h1>
    <span class="menu-spacer"></span>
    <!--<div>-->
      <!--<a mat-button routerLink="/">Home</a>-->
      <!--<a mat-button routerLink="/dashboard">Dashboard</a>-->
      <!--<mat-menu #appMenu="matMenu">-->
        <!--<button mat-menu-item routerLink="/aboutus">Our Team</button>-->
        <!--<button mat-menu-item routerLink="/ourmission">Our Mission</button>-->
        <!--<button mat-menu-item routerLink="/ourtechnology">Our Technology</button>-->
      <!--</mat-menu>-->
      <!--<a mat-button [matMenuTriggerFor]="appMenu">About Us</a>-->
      <!--<a mat-button routerLink="/upload-images" *ngIf="displayName">Upload File</a>-->
    <!--</div>-->
    <div id="nav-icon" [ngClass]="!sidebarService.getSidebarState() ? 'open' : ''" (click)="toggleSidebar()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
