<mat-toolbar color="primary">
  <h1 class="px-4">BioSeer</h1>
  <a mat-button class="px-4 my-auto" style="font-size: 16px" routerLink="/" routerLinkActive="active">Home</a>
  <a mat-button class="px-4 my-auto" style="font-size: 16px" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a *ngIf="displayName" mat-button class="px-4 my-auto" style="font-size: 16px" routerLink="/upload-images" routerLinkActive="active">Upload File</a>
  <span class="fill"></span>
  <div *ngIf="displayName">
    <button mat-button class="px-4 my-auto" style="font-size: 16px" [matMenuTriggerFor]="accountMenu">
      <mat-icon class="mr-2">account_circle</mat-icon>
      {{ displayName | titlecase }}
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item routerLink="/edit-account">Edit Account Information</button>
      <mat-divider [inset]="true"></mat-divider>
      <a mat-menu-item routerLink="/" (click)="logout()">Logout</a>
    </mat-menu>
  </div>
  <div *ngIf="!displayName">
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
    <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
  </div>
</mat-toolbar>
