<mat-card class="mat-elevation-z20 centered text-center" *ngIf="!submitted">
  <h1>Login</h1>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="mb-2 my-2">
    <mat-form-field class="form-element">
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>

    <mat-form-field class="form-element mb-3">
      <input matInput placeholder="Password" formControlName="password" type="password">
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button mt-1" [disabled]="!formGroup.valid">Login</button>
    </div>
    <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
  </form>

</mat-card>
