<section style="background-color: white;">
  <div class="col-12 text-center mt-4 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
    <h2>Our Team</h2>
  </div>
  <div class="col-12 text-center mt-4 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
    <div class="col-lg-3 col-md-7 col-sm-11 mx-auto">
      <p>We're BioSeer, a Research and Development team of Rovotics, a high school underwater robotics team in California. Our six member team ranges from AI development backgrounds to front-end UI design.</p>
    </div>
  </div>
  <div class="col-12 text-center mt-4 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
    <div class="col-lg-4 col-sm-11 mx-auto">
      <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/GroupPhoto-small.png?alt=media&token=60424de4-66fa-4f0c-8edf-731823221466" style="width: 100%;">
    </div>
  </div>
</section>

<section style="background-color: white;" class="mt-5 pt-5">
    <div class="mx-auto">
      <div class="row text-center mx-3">
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto beforeani my-2" ngClass.lt-sm="mb-2" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
          <div class="mx-auto">
            <div class="col-lg-8 col-sm-8 col-md-5 mx-auto">
              <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/circle-Caelin.png?alt=media&token=9fd296d4-2c5f-4dc6-a0bc-bf232803e7e0" class="mx-auto" style="width: 90%;">
            </div>
            <h3 class="headerText mt-4">CAELIN SUTCH</h3>
            <h4 class="headerSubtext">Full Stack Developer</h4>
            <div class="mx-auto">
              <p class="content">Graphic designer and front-end developer, Caelin manages the design of the BioSeer website. Caelin is experienced in UI, UX, and various front-end development frameworks. Caelin can be found aggressively petting Sky, Michael's husky, or hunched over his three monitor setup working on the next feature.</p>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto">
                <a href="" class="btn-social btn-twitter"><i class="fab fa-instagram"></i></a>
                <a href="" class="btn-social btn-email"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto beforeani" ngClass.lt-sm="mb-2" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
          <div class="mx-auto">
            <div class="col-lg-8 col-sm-8 col-md-5 mx-auto">
              <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/circle-Mike.png?alt=media&token=f1a4581f-0d87-406e-b257-8065b583e155" class="mx-auto" style="width: 90%;">
            </div>
            <h3 class="headerText mt-4">MICHAEL EQUI</h3>
            <h4 class="headerSubtext">CEO</h4>
            <div class="col-lg-12 col-sm-12 col-md-9 mx-auto">
              <p class="content">A maker, engineer, and dreamer who is seemingly always thinking up amazing things that will help the world. He is often found working in his makerspace working on one of his many projects. A dedicated worker, Michael often stays awake long into the night to ensure the success of his projects.</p>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto">
                <a href="" class="btn-social btn-twitter"><i class="fab fa-instagram"></i></a>
                <a href="" class="btn-social btn-email"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto beforeani" ngClass.lt-sm="mb-2" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
          <div class="mx-auto">
            <div class="col-lg-8 col-sm-8 col-md-5 mx-auto">
              <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/circle-james.png?alt=media&token=94642520-54b7-4137-862c-4e9af2a21333" class="mx-auto" style="width: 90%;">
            </div>
            <h3 class="headerText mt-4">JAMES MONROE</h3>
            <h4 class="headerSubtext">Hardware</h4>
            <div class="col-lg-12 col-sm-12 col-md-9 mx-auto">
              <p class="content">A mechanical engineer, James can take ideas formulated by himself and the rest of the team and turn them into realistic CAD drawings in his free time. James can help a group come to a decision and adds meaningful input to every conversation.</p>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto">
                <a href="" class="btn-social btn-twitter"><i class="fab fa-instagram"></i></a>
                <a href="" class="btn-social btn-email"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto beforeani" ngClass.lt-sm="mb-2" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
          <div class="mx-auto">
            <div class="col-lg-8 col-sm-8 col-md-5 mx-auto">
              <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/circle-Jaiveer.png?alt=media&token=7088b8e4-2b35-4591-9f23-dca1b9405f05" class="mx-auto" style="width: 90%;">
            </div>
            <h3 class="headerText mt-4">JAIVEER GAHUNIA</h3>
            <h4 class="headerSubtext">AI Developer</h4>
            <div class="col-lg-12 col-sm-12 col-md-9 mx-auto">
              <p class="content">A backend programmer who can make all your troubles disappear.  What others say is impossible to make run smoothly is child’s play for him. Jaiveer loves everything vaporwave and is an avid watcher of Super Smash Brothers Melee.</p>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto">
                <a href="" class="btn-social btn-twitter"><i class="fab fa-instagram"></i></a>
                <a href="" class="btn-social btn-email"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto beforeani" ngClass.lt-sm="mb-2" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
          <div class="mx-auto">
            <div class="col-lg-8 col-sm-8 col-md-5 mx-auto">
              <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/circle-Alden.png?alt=media&token=a61aada1-a032-4b12-af44-040a38e939d7" class="mx-auto" style="width: 90%;">
            </div>
            <h3 class="headerText mt-4">ALDEN PARKER</h3>
            <h4 class="headerSubtext">Front End Developer</h4>
            <div class="col-lg-12 col-sm-12 col-md-9 mx-auto">
              <p class="content">A programmer who can create almost anything when given an hour and a computer.  He often finds himself dreaming about what he can do to make the world a better place. He is the glue that can keep a team together through his determination and patience.</p>
            </div>

            <div class="row mx-auto">
              <div class="mx-auto">
                <a href="" class="btn-social btn-twitter"><i class="fab fa-instagram"></i></a>
                <a href="" class="btn-social btn-email"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
          <div class="mx-auto">
            <div class="col-lg-8 col-sm-8 col-md-5 mx-auto">
              <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/circle-cropped.png?alt=media&token=cf85226a-c3a1-4f2e-807b-a41c1a77ace6" class="mx-auto" style="width: 90%;">
            </div>
            <h3 class="headerText mt-4">SKY THE HUSKY</h3>
            <h4 class="headerSubtext">Moral Support/Inspiration</h4>
            <div class="col-lg-12 col-sm-12 col-md-9 mx-auto">
              <p class="content">Michael’s husky, Sky, was the source of inspiration for the first prototype AI, SkyAI. SkyAI detected Sky in images and drew bounding boxes around her. She also provides moral support and keeps the team happy as we work late into the night.</p>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto">
                <a href="" class="btn-social btn-twitter"><i class="fab fa-instagram"></i></a>
                <a href="" class="btn-social btn-email"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section style="background-color: white;" class="mt-5 pt-5 mb-5 pb-5">
  <div class="col-11 mx-auto beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
    <div class="col-lg-6 col-md-11 mx-auto">
      <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/T%20Shirt%20Back.png?alt=media&token=3c3d5e0e-2acf-4150-b4b8-117e1b5c6278" style="width: 100%;" id="img1">
    </div>
  </div>
</section>
