<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <br><br>
    <h2>About Us</h2>
  </div>
</header>

<section class="content-section bg-light" id="intro">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p class="lead mb-5">The BioSeer Development team is a subset of Rovotics, a 17 person underwater robotics company based in Sacramento California. There are five key members of the development team. Heading the project as CEO, Michael Equi organizes the vision for the overall project and is the main AI and ML developer. Jaiveer Gahunia also develops the AI. Caelin Sutch heads the Web Interface, with Alden Parker providing front end support. James Monroe is in charge of our hardware.</p>
      </div>
    </div>
  </div>
</section>
