<section style="background-color: white;">
  <div class="col-12 text-center mt-4">
    <h2>Our Team</h2>
  </div>
  <div class="col-12 text-center mt-4">
    <div class="col-lg-3 col-md-7 col-sm-11 mx-auto">
      <p>We're BioSeer, a Research and Development team of Rovotics, a high school underwater robotics team in California. Our six member team ranges from AI development backgrounds to front-end UI design.</p>
    </div>
  </div>
  <div class="col-12 text-center mt-4">
    <div class="col-lg-4 col-sm-11 mx-auto">
      <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/Group%20Photo.png?alt=media&token=c7bf02b2-d2b8-45f9-9555-d744863cede7" style="width: 100%;">
    </div>
  </div>
</section>

<section style="background-color: white;" class="mt-5 pt-5">
  <div class="col-12">
    <div class="col-lg-10 mx-auto">
      <div class="row text-center">
        <div class="col-lg-2 col-sm-12 mx-auto">
          <div class="mx-auto">
            <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/circle-Caelin.png?alt=media&token=9fd296d4-2c5f-4dc6-a0bc-bf232803e7e0" class="mx-auto" style="width: 90%;">
          </div>
        </div>
        <div class="col-lg-2 col-sm-12 mx-auto">
          <div class="mx-auto">
            <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/circle-Mike.png?alt=media&token=f1a4581f-0d87-406e-b257-8065b583e155" class="mx-auto" style="width: 90%;">
          </div>
        </div>
        <div class="col-lg-2 col-sm-12 mx-auto">
          <div class="mx-auto">
            <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/circle-james.png?alt=media&token=94642520-54b7-4137-862c-4e9af2a21333" class="mx-auto" style="width: 90%;">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
