<header class="masthead d-flex bg-light">
  <div class="container text-center my-auto">
    <h2 class="mb-3 mt-5">Our Mission</h2>
  </div>
</header>

<section class="content-section bg-light" id="intro">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p class="lead mb-3">BioSeer redefines how rivers, lakes, and oceans are monitored. Current methods for aquatic habitat monitoring focus on either indirect measurement through the water’s chemical content or labor-intensive studies that require teams of scientists. Due to the continued urbanization of natural habitats, the preservation and maintenance of water bodies have become increasingly important in maintaining their quality that is conducive to economic value and ecosystem health. Without the right data in high enough frequency, ensuring well-informed decision making can be difficult. BioSeer provides users with data, information, and analytical capabilities to help communities, researchers, and companies play their part in maintaining strong and healthy marine environments.</p>
        <p class="lead mb-3">BioSeer brings together cutting-edge technology and an intuitive User Interface (UI) to make high-frequency and high-resolution direct marine habitat monitoring accessible to a large audience. Cloud-based Artificial Intelligence (AI) and Machine Learning (ML) algorithms are able to process location and time-stamped image data to determine not only habitat health but also the rate of change in system conditions. Data is organized and displayed intuitively to assist users in identifying and monitoring the causes and effects of human activity on the environment.</p>
        <p class="lead mb-5">BioSeer’s “mobile buoy” technology takes the image data-processing and display tools a step further by proving a low-cost platform for monitoring large areas of lakes, rivers, and oceans. The power efficiency of the mobile buoy over traditional Autonomous Underwater Vehicles (AUVs) means that it can run for longer periods of time and collect more data before needing to be recharged. Data collected by the mobile buoys are sent to the database where they are processed and relayed to the website to be displayed to the user in real time. The global database lets users openly view and compare data with each other. Bringing together data from the diverse conditions met across the globe makes understanding unique and complex environments effortless.</p>
      </div>
    </div>
  </div>
</section>
