<section class="header" style="background-color: white;">
  <div class="col-12 text-center pt-5 pb-5">
    <h2 class="headertext mt-5 mb-5 pt-5 pb-5" fxHide fxShow.gt-md="true" style="visibility: hidden;">.</h2>
    <h2 class="headertext mt-5 mb-5 pt-5 pb-5" ngStyle.lt-lg="font-size: 4em;" ngStyle.lt-sm="font-size: 2.5em;">HOW WE GOT HERE</h2>
    <h2 class="headertext mt-5 mb-5 pt-5 pb-5" fxHide fxShow.gt-md="true" style="visibility: hidden;">.</h2>
  </div>
</section>

<section style="background-color: #272727;">
  <div class="col-12 text-center pt-5 pb-5">
    <h2 class="smallerTextSubheader pt-3 pb-3" fxHide fxShow.gt-md="true" style="visibility: hidden;">.</h2>
    <h3 class="smallerTextSubheader mb-4" ngStyle.lt-lg="font-size: 2em;" ngStyle.lt-sm="font-size: 1.2em;">We Started with the Question:</h3>
    <h1 class="biggerTextSubheader" ngStyle.lt-lg="font-size: 2.3em;" ngStyle.lt-sm="font-size: 1.17em;">"HOW CAN WE HELP THE ENVIRONMENT?"</h1>
    <h2 class="smallerTextSubheader pt-3 pb-3" fxHide fxShow.gt-md="true" style="visibility: hidden;">.</h2>
  </div>
</section>

<section style="background-color: white;">
  <h2 class="smallerTextSubheader pt-3 pb-3" fxHide fxShow.gt-md="true" style="visibility: hidden;">.</h2>
  <div class="col-10 mx-auto mt-5">
    <div class="row">
      <div class="col-6">
        <h1 class="head">THE START</h1>
      </div>
      <div class="col-6">

      </div>
    </div>
    <div class="row">
      <div class="col-6">

      </div>
      <div class="col-6">

      </div>
    </div>
    <div class="row">
      <div class="col-7">

      </div>
      <div class="col-5">

      </div>
    </div>
    <div class="row">
      <div class="col-6">

      </div>
      <div class="col-6">

      </div>
    </div>
    <div class="row">
      <div class="col-6">

      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
</section>
