<!-- This component has to not cover up the map, map must have space to click on it that's uncovered-->
<div id="right-side" class="m-3">
  <app-overview></app-overview>
  <app-group></app-group>
</div>
<div class="position-absolute" id="left-side">
</div>

<!--<ul *ngIf="hasLogEntries()">-->
        <!--<li *ngFor="let entry of log">{{entry}}</li>-->
        <!--</ul>-->
    <!--<div class="col-3">-->
      <!--<mat-card>-->
        <!--<p>Lifecycle log:</p>-->
      <!--</mat-card>-->
    <!--</div>-->
    <!--<div class="col-3"></div>-->
    <!--<div class="col-3">-->
      <!--<mat-card>-->
        <!--<h1>Test</h1>-->
      <!--</mat-card>-->
    <!--</div>-->
