<mat-card id="settings-card" class="mb-3 mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <h6>View</h6>
      </div>
      <div class="col-8">
        <h6>Map Settings</h6>
      </div>
    </div>
    <div class="row" [formGroup]="mapSettingsForm">
      <div class="col-4">
        <mat-form-field>
          <mat-label>View Zone</mat-label>
          <mat-select formControlName="zoneView">
            <mat-option>None</mat-option>
            <mat-option value="1">Zone 1</mat-option>
            <mat-option value="2">Zone 2</mat-option>
            <mat-option value="3">Zone 3</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col-2">
        <mat-checkbox value="" color="primary" formControlName="sensors">Sensors</mat-checkbox>
        <mat-checkbox value="" color="primary" formControlName="mobileBuoys">AUVS</mat-checkbox>
      </div>
      <div class="col-2">
        <mat-checkbox value="" color="primary" formControlName="satellite">Satellite</mat-checkbox>
        <mat-checkbox value="" color="primary" formControlName="phMap">ph Map</mat-checkbox>
      </div>
      <div class="col-2">
        <mat-checkbox value="" color="primary" formControlName="temperatureMap">Temperature Map</mat-checkbox>
        <mat-checkbox value="" color="primary" formControlName="waterQualityMap">>Water Quality Map</mat-checkbox>
      </div>
      <div class="col-2 my-auto">
        <button mat-raised-button color="primary" (click)="addZone()">Add Zone</button>
      </div>
    </div>
  </div>
</mat-card>
