<!--<button mat-button color="warn" (click)="onClick()">-->
  <!--<mat-icon>file_upload</mat-icon>-->
  <!--{{text}}-->
<!--</button>-->
<!--<br/>-->
<!--<ul>-->
  <!--<li *ngFor="let file of files" [@fadeInOut]="file.state" class="my-2">-->
    <!--<mat-progress-bar [value]="file.progress" style="width: 50%;" class="mx-auto"></mat-progress-bar>-->
    <!--<span id="file-label" class="mt-1">-->
            <!--{{file.data.name}}-->
      <!--<a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">-->
        <!--<mat-icon class="mx-1">refresh</mat-icon>-->
      <!--</a>-->
      <!--<a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">-->
        <!--<mat-icon class="mx-1">cancel</mat-icon>-->
      <!--</a>-->
    <!--</span>-->
  <!--</li>-->
<!--</ul>-->
<!--<input type="file" id="fileUpload" name="fileUpload" multiple="multiple"-->

       <!--accept="{{accept}}" style="display:none;"/>-->
<div class="container text-center my-5">
  <div class="row">
    <div class="col-12">
      <div id="drag-drop-area" class="mx-auto mb-5"></div>
      <mat-card>
        <mat-card-title>Processed Images</mat-card-title>
        <mat-card-subtitle>Once Processed, Images will show up here</mat-card-subtitle>
        <mat-card-content class="mt-2">
          <div *ngIf="processing">
            <p>Processing Images</p>
            <mat-spinner [diameter]="30" class="mx-auto"></mat-spinner>
          </div>
          <canvas mat-card-image id="original" style="width: 256px; height: 256px;"></canvas>
          <div *ngIf="data">
            <p>Algae: {{ data['algae'] }}</p>
            <p>Aquatic Plants: {{ data['aquatic plant'] }}</p>
            <p>Human Interference: {{ data['human interference'] }}</p>
            <p>Non Aquatic Plants: {{ data['non-aquatic plant'] }}</p>
            <p>Rock: {{ data['rock'] }}</p>
            <p>Soil/Clay: {{ data['soil/clay'] }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
