<mat-card class="mb-3" id="overview">
  <mat-card-title class="text-center">OVERVIEW</mat-card-title>
  <div class="container-fluid mb-3">
    <div class="row">
      <div class="col-5 status-theme">
        <mat-card-subtitle class="text-center">SENSORS</mat-card-subtitle>
        <mat-card-content class="green-text font-weight-bold">10 Sensors Online</mat-card-content>
        <mat-card-content class="yellow-text font-weight-bold">2 Sensors Warning</mat-card-content>
        <mat-card-content class="red-text font-weight-bold">2 Sensors Offline</mat-card-content>
      </div>
      <div class="col-2">
        <mat-divider [vertical]="true" id="vertical-divider" class="mx-auto"></mat-divider>
      </div>
      <div class="col-5">
        <mat-card-subtitle class="text-center">MOBILE BUOYS</mat-card-subtitle>
        <mat-card-content class="green-text font-weight-bold">2 Mobile Buoys Online</mat-card-content>
        <mat-card-content class="yellow-text font-weight-bold">2 Mobile Buoys Warning</mat-card-content>
        <mat-card-content class="red-text font-weight-bold">0 Mobile BuoysOffline</mat-card-content>
      </div>
    </div>
  </div>
  <h4 class="text-center">14 Groups</h4>
  <h4 class="text-center">37 Zones</h4>
  <!--<ul *ngIf="hasLogEntries()">-->
  <!--<li *ngFor="let entry of log">{{entry}}</li>-->
  <!--</ul>-->
</mat-card>
