<section class="header" style="background-color: white;">
  <div class="col-12 text-center pt-5 pb-5 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
    <h2 class="headertext mt-5 mb-5 pt-5 pb-5" fxHide fxShow.gt-md="true" style="visibility: hidden;">.</h2>
    <h2 class="headertext mt-5 mb-5 pt-5 pb-5" ngStyle.lt-lg="font-size: 4em;" ngStyle.lt-sm="font-size: 2.5em;">HOW WE GOT HERE</h2>
    <h2 class="headertext mt-5 mb-5 pt-5 pb-5" fxHide fxShow.gt-md="true" style="visibility: hidden;">.</h2>
  </div>
</section>

<section style="background-color: #272727;">
  <div class="col-12 text-center pt-5 pb-5 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
    <h2 class="smallerTextSubheader pt-3 pb-3" fxHide fxShow.gt-md="true" style="visibility: hidden;">.</h2>
    <h3 class="smallerTextSubheader mb-4" ngStyle.lt-lg="font-size: 2em;" ngStyle.lt-sm="font-size: 1.2em;">We Started with the Question:</h3>
    <h1 class="biggerTextSubheader" ngStyle.lt-lg="font-size: 2.3em;" ngStyle.lt-sm="font-size: 1.17em;">"HOW CAN WE HELP THE ENVIRONMENT?"</h1>
    <h2 class="smallerTextSubheader pt-3 pb-3" fxHide fxShow.gt-md="true" style="visibility: hidden;">.</h2>
  </div>
</section>

<section style="background-color: white;">
  <h2 class="smallerTextSubheader pt-3 pb-3" fxHide fxShow.gt-md="true" style="visibility: hidden;">.</h2>
  <div class="col-8 mx-auto mt-5">
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12 beforeani" ngClass.lt-lg="mb-4" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
        <h1 class="head" ngStyle.lt-lg="font-size: 4em;" ngStyle.lt-sm="font-size: 2em;">THE START</h1>
        <div class="line"></div>
      </div>
      <div class="col-lg-6 col-md-12 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
        <p class="subtext" ngStyle.lt-sm="font-size: 1em;">When Michael, our CEO, started brainstorming project ideas to harness the power of cloud computing in marine technology, it took a while to think of ideas. However, he soon realized that much of the marine industry was ripe for disruption by artificial intelligence and big data techniques. Michael is enamored with AI, and he saw BioSeer as a project to build his AI skills and use them for good.</p>
      </div>
    </div>
    <h1 class="headsmall" fxHide fxShow.gt-md="true" style="visibility: hidden;" >.</h1>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
        <h2 class="headsmall mb-4" ngStyle.lt-lg="font-size: 3em;" ngStyle.lt-sm="font-size: 1.5em;">GETTING THE TEAM</h2>
        <p class="subtext" ngStyle.lt-sm="font-size: 1em;">Michael pitched the idea to the members of the BioSeer. The team quickly got together and collaborated to build the project to where it is today. With a diverse array of backgrounds, the BioSeer team was ready to take on the challenge. </p>
      </div>
      <div class="col-lg-6 col-md-12 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
        <h2 class="headsmall mb-4" ngStyle.lt-lg="font-size: 3em;" ngStyle.lt-sm="font-size: 1.5em;">FIRST STEPS</h2>
        <p class="subtext" ngStyle.lt-sm="font-size: 1em;"> One of the first steps the team took was planning out the product to the detail. Writing out the user experience, target market, and definable goals of the product,  the BioSeer team set a clear path forward. Market research on competitors established the uniqueness of BioSeer further.</p>
      </div>
    </div>
    <h1 class="headsmall" fxHide fxShow.gt-md="true" style="visibility: hidden;" >.</h1>
    <div class="row mb-4">
      <div class="col-lg-7 col-md-12 beforeani" ngClass.lt-lg="mb-4" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
        <h2 class="head" ngStyle.lt-lg="font-size: 4em;" ngStyle.lt-sm="font-size: 2em;">DEVELOPMENT</h2>
        <div class="line"></div>
      </div>
      <div class="col-lg-5 col-md-12 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
        <p class="subtext" ngStyle.lt-sm="font-size: 1em;">BioSeer as you see it now is the product of two weeks worth of development. The developers have been working non-stop to get BioSeer where it is today. </p>
      </div>
    </div>
    <h1 class="headsmall" fxHide fxShow.gt-md="true" style="visibility: hidden;" >.</h1>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
        <h2 class="headsmall mb-4" ngStyle.lt-lg="font-size: 3em;" ngStyle.lt-sm="font-size: 1.5em;">SKY AI</h2>
        <p class="subtext" ngStyle.lt-sm="font-size: 1em;">Michael’s beloved husky, Sky, was the source of inspiration for the first provable AI, SkyAI. SkyAI detected Michaels dog, Sky, in images and drew pixel-level bounding boxes around her. It was a proof of concept that proved invaluable for writing the BioSeer AI algorithm.</p>
      </div>
      <div class="col-lg-6 col-md-12 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
        <h2 class="headsmall mb-4" ngStyle.lt-lg="font-size: 3em;" ngStyle.lt-sm="font-size: 1.5em;">WEBSITE</h2>
        <p class="subtext" ngStyle.lt-sm="font-size: 1em;">The BioSeer website was designed in Adobe XD to ensure that the developers knew exactly what to code too.  From there, the web development team entered a code sprint, pumping out page designs and backend frameworks as fast as possible through many late nights worth of work. </p>
      </div>
    </div>
    <h1 class="headsmall" fxHide fxShow.gt-md="true" style="visibility: hidden;" >.</h1>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12 beforeani" ngClass.lt-lg="mb-4"animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
        <h2 class="head" ngStyle.lt-lg="font-size: 4em;" ngStyle.lt-sm="font-size: 2em;">FUTURE</h2>
        <div class="line"></div>
      </div>
      <div class="col-lg-6 col-md-12 beforeani" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp">
        <p class="subtext" ngStyle.lt-sm="font-size: 1em;">BioSeer is being pitched to Microsoft at the MATE 2019 International competition as part of the Microsoft Azure challenge. From there, the plan is to apply to Microsoft for a grant to develop out the project further.</p>
      </div>
    </div>
    <h1 class="headsmall" fxHide fxShow.gt-md="true" style="visibility: hidden;" >.</h1>
  </div>
</section>
