h1, h2, h3, h4, h5, p {
  font-family: 'Poppins', sans-serif;
  color: #313131;
}

.header {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/Coral%20Photo.jpg?alt=media&token=b940df37-fdb4-4c3e-a307-8ce22c34565e');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.headertext {
    font-size: 6em;
    color: white;
    font-weight: bold;
}

.smallerTextSubheader {
  color: white;
  font-size: 3em;
  font-weight: bold;
}

.biggerTextSubheader {
  color: white;
  font-size: 4em;
  font-weight: bold;
}

.head {
  font-weight: bold;
  font-size: 4.5em;
}

.headsmall {
  font-weight: bold;
  font-size: 3.5em;
}

.subtext {
  font-size: 1.3em;
}

.line {
  height: 1em;
  width: 50%;
  background-color: #313131;
}

@keyframes fadeInUp {
  0% {
    transform: translate3d(0,60px,0);
  }

  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    transform: translate3d(0,60px,0);
  }

  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-delay: 0.3s;
}

.animatedFadeInUp {
  opacity: 0
}

.afterani {
  visibility: visible !important;
}

.beforeani {
  visibility: hidden;
}
