@import "variables";
@import "mixins";
@import "global";
@import "masthead";
@import "sidebar";
@import "services";
@import "callout";
@import "portfolio";
@import "footer";
@import "bootstrap-overrides";

.masthead {
  background-image: url('../../assets/img/website-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container1 {
  margin-top: -67%;
  margin-left: 6%;
  width: 52%;
  background-color: rgba(9,29,30,1);
  position: absolute;
  z-index: 30;
  visibility: hidden;
}

.container2 {
  margin-top: -33%;
  margin-left: 41%;
  width: 52%;
  background-color: rgba(9,29,30,1);
  position: absolute;
  z-index: 30;
  visibility: hidden;
}

.gradient1 {
  background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(223,231,241,0) 70%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(223,231,241,0) 70%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(223,231,241,0) 70%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  height: 87%;
  width: 100%;
  position: absolute;
  z-index: 20;
  pointer-events: none;
}

.gradient2 {
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(223,231,241,0) 20%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(223,231,241,0) 20%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(223,231,241,0) 20%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
  height: 27%;
  width: 100%;
  margin-top: -7%;
  position: absolute;
  z-index: 20;
  pointer-events: none;
}

.gradient3 {
  background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(12,37,47,0) 30%, rgba(9,29,30,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(12,37,47,0) 30%,rgba(9,29,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(12,37,47,0) 30%,rgba(9,29,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#091d1e',GradientType=0 ); /* IE6-9 */
  height: 27%;
  width: 100%;
  bottom: 6%;
  left: 0px;
  position: absolute;
  z-index: 20;
}

.imagetransition {
  background-image: url('../../assets/img/waterimage.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutbutton{
  width: 60%;
  height: 37%;
  background-color: #1D809F;
  border-radius: 0px;
  border: 0.5px;
  color: white;
  visibility: hidden;
}

.logo {
  width: 80%;
}

.tripleinfo {
  margin-top: 49%;
  visibility: hidden;
}

.afterani {
  visibility: visible !important;
}

.contactus {
  margin-top: -8%;
}

.footer {
  padding-bottom: 2%;
}

.padding {
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
}

.bioseercard {
  background-color: white;
  position: absolute;
  z-index: 20;
  margin-top: 3%;
  margin-left: 44%;
  height: 4%;
  width: 20%;
  border-radius: 0px !important;
  visibility: hidden;
}

.leftimgturtle {
  width: 100%;
  margin-top: -5%;
  margin-left: 5%;

}

.shadow-slide {
	-webkit-animation: shadow-slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-slide 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 0.5s;
}

@-webkit-keyframes shadow-slide {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(1000px);
            transform: translateZ(100px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.45);
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes shadow-slide {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(1000px);
            transform: translateZ(1000px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.45);
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
