@import "variables";
@import "mixins";
@import "global";
@import "masthead";
@import "sidebar";
@import "services";
@import "callout";
@import "portfolio";
@import "footer";
@import "bootstrap-overrides";

.use-case-cards {
  max-width: 200px;
}

.dashboardimage {
  width: 79%;
}

.mobile-dashboard-image {
  width: 100% !important;

}

.filler-section {
  height: 56vh;
  background-color: #000000;
}

.masthead {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/website-header.jpg?alt=media&token=7db462af-6fa4-45d1-a7f5-d5ca3fa681b1');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  width: 67%;
  margin-top: 46%;
  margin-bottom: 24%;
}

.headerHomeCards {
  font-size: 2.3em;
  margin-top: 5% !important;
  color: #404040;
}

.subtextHomeCards {
  font-size: 1.2em;
}

.customButtonHomeCard {
  background-color: #E9E9E9;
  color: #404040 !important;
  border-radius: 23px;
}

.customCard {
  border-radius: 54px !important;
  visibility: hidden;
}

.line {
  height: 10%;
  width: 118%;
  background-color: white;
  margin-left: 80%;
}

.line2 {
  width: 34%;
  background-color: white;
  height: 1.3em;
  margin-top: 27%;
  margin-left: 10%;
}

.topcontainer {
  margin-left: 10%;
  z-index: 50 !important;
}

.biggerp{
  font-size: 1.3em;
  margin-bottom: 0%;
}

@keyframes fadeInUp {
    0% {
        transform: translate3d(0,60px,0);
    }

    100% {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        transform: translate3d(0,60px,0);
    }

    100% {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-delay: 0.7s;
}

.animatedFadeInUp {
    opacity: 0
}

.shadow {
    box-shadow: 0px 0px 31px #888888;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.fadeInUpShadow {
    opacity: 0;
    animation-name: fadeInUpShadow;
    -webkit-animation-name: fadeInUpShadow;
}

@keyframes fadeInUpShadow {
    0% {
        transform: translate3d(0,40px,0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        transform: translate3d(0,0,1000px);
        opacity: 1;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.65);
    }
}

@-webkit-keyframes fadeInUpShadow {
    0% {
        transform: translate3d(0,40px,0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        transform: translate3d(0,0,1000px);
        opacity: 1;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.65);
    }
}

.container1 {
  margin-top: -67%;
  margin-left: 6%;
  width: 52%;
  background-color: rgba(9,29,30,1);
  position: absolute;
  z-index: 30;
  visibility: hidden;
}

.container2 {
  margin-top: -33%;
  margin-left: 41%;
  width: 52%;
  background-color: rgba(9,29,30,1);
  position: absolute;
  z-index: 30;
  visibility: hidden;
}

.gradient1 {
  background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(223,231,241,0) 70%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(223,231,241,0) 70%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(223,231,241,0) 70%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  height: 96%;
  width: 100%;
  position: absolute;
  z-index: 10 !important;
  pointer-events: none;
}

.gradient2 {
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(223,231,241,0) 20%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(223,231,241,0) 20%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(223,231,241,0) 20%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
  height: 20%;
  width: 100%;
  margin-top: -7%;
  position: absolute;
  z-index: 20;
  pointer-events: none;
}

.gradient3 {
  background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(32,124,201,0) 70%,rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(32,124,201,0) 70%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(32,124,201,0) 70%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  height: 20%;
  width: 100%;
  margin-top: 18%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.imagetransition {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/waterimage.jpg?alt=media&token=c2c816fb-20ca-46da-b06d-ea15d9d7071a');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 216vh;
}

.aboutbutton{
  width: 60%;
  height: 37%;
  background-color: #1D809F;
  border-radius: 0px;
  border: 0.5px;
  color: white;
  visibility: hidden;
}

.logo {
  width: 80%;
}

.tripleinfo {
  margin-top: 49%;
  visibility: hidden;
}

.afterani {
  visibility: visible !important;
}

.contactus {
  margin-top: -6%;
}

.footer {
  padding-bottom: 2%;
}

.padding {
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
}

.bioseercard {
  background-color: white;
  position: absolute;
  z-index: 20;
  margin-top: 33%;
  margin-left: 8%;
  height: 15em;
  width: 20%;
  border-radius: 27px !important;
  visibility: hidden;
}

.leftimgturtle {
  width: 100%;
  margin-top: -5%;
  margin-left: 5%;

}

.shadow-slide {
	-webkit-animation: shadow-slide 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-slide 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 0.7s;
}

@-webkit-keyframes shadow-slide {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(1000px);
            transform: translateZ(1000px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.45);
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes shadow-slide {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(1000px);
            transform: translateZ(1000px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.45);
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.responsive-header {
  font-size: 5vw;
}

.spacer {

}
