@import "variables";
@import "mixins";
@import "global";
@import "masthead";
@import "sidebar";
@import "services";
@import "callout";
@import "portfolio";
@import "footer";
@import "bootstrap-overrides";

.masthead {
  background-image: url(https://images.pexels.com/photos/1680140/pexels-photo-1680140.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
}

.logo {
  width: 80%;
}
