<!-- Header -->
<section class="masthead" id="header">
  <div class="gradient1" ngStyle.lt-sm="height: 94%;" fxHide fxShow.gt-sm="true"></div>
  <div class="container text-left topcontainer" ngStyle.lt-lg="width: 80%;">
    <div class="row">
      <div class="col-lg-4 col-sm-12 text-white animated fadeInDown delay-1s" ngStyle.lt-sm="margin-left: -4%;">
        <h2 ngStyle.lt-sm="font-size: 1.8em;">Marine Monitoring</h2>
        <h1 ngStyle.lt-sm="font-size: 3.7em;">SIMPLIFIED</h1>
        <p class="biggerp" ngStyle.lt-sm="font-size: 1.3em;">Easy Species and Ocean</p>
        <p class="biggerp" ngStyle.lt-sm="font-size: 1.3em;">Monitoring Harnessing the</p>
        <p class="biggerp" ngStyle.lt-sm="font-size: 1.3em;">Power of Artificial Intelligence</p>
      </div>
      <div class="col-lg-5" fxHide fxShow.xl="true">
        <p style="visibility: hidden;">.</p>
      </div>
      <div class="col-lg-3 animated fadeInDown delay-1s" fxHide fxShow.xl="true">
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="col-12 my-5" fxHide fxShow.lt-lg="true" fxShow.lt-sm="false"><p style="visibility: hidden;">.</p></div>
  <div class="col-12 my-5" fxHide fxShow.lt-lg="true" fxShow.lt-sm="false"><p style="visibility: hidden;">.</p></div>
  <div class="col-12 my-5" fxHide fxShow.lt-lg="true"><p style="visibility: hidden;">.</p></div>
  <div class="col-12 my-5" fxHide fxShow.lt-lg="true"><p style="visibility: hidden;">.</p></div>
  <div class="col-12 my-2" fxHide fxShow.lt-lg="true"><p style="visibility: hidden;">.</p></div>
  <div class="mx-auto center" ngStyle.lt-lg="margin-bottom: 50%;">
    <div class="row">
      <div class="col-lg-4 col-md-12 my-2">
        <mat-card animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="text-center customCard">
          <p class="headerHomeCards" ngStyle.lt-sm="font-size: 1.8em;">DASHBOARD</p>
          <p class="subtextHomeCards" ngStyle.lt-sm="font-size: 1em;">The BioSeer website is designed to make viewing and analyzing data easy and accessible. Integrated sattelite maps make keeping track of enviornmental statuses a breeze.</p>
          <a class="btn btn-light btn-xl js-scroll-trigger mt-3 mb-4 customButtonHomeCard md-elevation-z10" ngStyle.lt-sm="font-size: 0.9em;" routerLink="/dashboard">SEE THE DASHBOARD</a>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-12 my-2">
        <mat-card animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="text-center customCard">
          <p class="headerHomeCards" ngStyle.lt-sm="font-size: 1.8em;">DATA ANALYSIS</p>
          <p class="subtextHomeCards" ngStyle.lt-sm="font-size: 1em;">Using advance Artificial Intelegence techniques, BioSeer can recognize and count a variety of marine species. This makes collecting data on species health.</p>
          <a class="btn btn-light btn-xl js-scroll-trigger mb-4 customButtonHomeCard md-elevation-z10" ngStyle.lt-sm="font-size: 0.9em;" style="margin-top: 12% !important;">READ ABOUT THE AI</a>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-12 my-2">
        <mat-card animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="text-center customCard">
          <p class="headerHomeCards" style="font-size: 2em; margin-bottom: 7%;">HARDWARE</p>
          <p class="subtextHomeCards">The BioSeer Mobile Buoy System is designed for long term marine monitoring, while allowing for movement to collect data in a variety of conditions.</p>
          <a class="btn btn-light btn-xl js-scroll-trigger mt-4 mb-4 customButtonHomeCard md-elevation-z10" style="margin-top: 12% !important;">LEARN MORE</a>
        </mat-card>
      </div>
    </div>
  </div>
</section>

 <!--Dashboard Section -->
<section class="content-section" style="background-color: white;" ngStyle.lt-sm="padding-top: 0%;">
  <!--<div class="container position-absolute" style="margin-left: 5%; z-index: 10;">-->
    <!--<div class="row align-items-end px-5">-->
      <!--<div class="col-12 my-5" fxHide fxShow.lg="true"></div>-->
      <!--<div class="col-12 my-5" fxHide fxShow.lg="true"></div>-->
      <!--<div class="col-12 my-5"></div>-->
      <!--<div class="col-12 my-5"></div>-->
      <!--<div class="col-lg-4 col-md-12">-->
        <!--<mat-card animateOnScroll animationName="afterani shadow-slide" class="my-auto" style="visibility: hidden;" ngStyle.lt-lg="width: 20em; margin-left: -2rem;" ngStyle.lt-sm="width: 12em; margin-left: -3rem; top: -1rem;">-->
          <!--<mat-card-title style="color: #404040; margin-left: 0.3em;" ngStyle.lt-sm="font-size: 1em;">DASHBOARD</mat-card-title>-->
          <!--<a class="btn btn-light js-scroll-trigger mt-1 customButtonHomeCard md-elevation-z10" routerLink="/dashboard" ngClass.gt-lg="btn-xl" ngClass.lt-lg="btn-xl" ngStyle.lt-sm="font-size: 0.7em; padding: 10%;">SEE THE DASHBOARD</a>-->
        <!--</mat-card>-->
      <!--</div>-->
      <!--<div class="col-lg-8 col-sm-12"></div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="col">
    <div class="mx-auto dashboardimage">
      <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/dashboardscreenshot-small.png?alt=media&token=44dbfd6d-83c7-4790-a834-4731926da1c4" id="dashboard" style="width: 100%;">
    </div>
  </div>
  <div animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="mx-auto" style="width: 77%; margin-top: 5%; visibility: hidden;">
    <div class="row" style="color: #404040">
      <div class="col-lg-4 col-md-12" ngStyle.lt-lg="margin-top: 3%;" ngStyle.lt-sm="margin-top: 8%;">
        <h1 class="mb-4">Sensor Zones</h1>
        <p>Data is organized into easily digestible zones. Each zone is assigned a water quality score and has a variety of metrics, such as species diversity or temperature.</p>
      </div>
      <div class="col-lg-4 col-md-12" ngStyle.lt-lg="margin-top: 3%;">
        <h1 class="mb-4">Global Database</h1>
        <p>Through a shared global database, collaborate with researchers around the world to see big-picture trends.</p>
      </div>
      <div class="col-lg-4 col-md-12" ngStyle.lt-lg="margin-top: 3%;">
        <h1 class="mb-4">Live Data Feeds</h1>
        <p>View data from sensors and mobile buoys live, with video feeds and other metrics available easier. View live locations of your hardware, and monitor status in real time. Go back in time and view metrics from past times to see trends in data.</p>
      </div>
    </div>
  </div>
</section>

<section class="content-section" style="background-color: white;">
  <div class="mx-auto" style="width: 77%;">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/imagerec.png?alt=media&token=ee66477b-5991-4878-b81a-0ce3f035e139" id="rec" style="width: 99%;">
      </div>
      <div class="col-lg-7 col-md-12">
        <h1 style="color: #404040; font-size: 4em; visibility: hidden;" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" ngStyle.lt-sm="font-size: 2em; margin-top: 10%;">IMAGE RECOGNITION</h1>
        <div style="width: 74%; margin-top: 15%;  visibility: hidden;" animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" ngStyle.lt-sm="width: 100%;">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <h3 style="color: #404040;" ngStyle.lt-sm="font-size: 1.4em; margin-top: -4%;">Precise Classification</h3>
              <p style="color: #404040;  margin-top: 10%;" ngStyle.lt-lg="margin-top: 3%; margin-bottom: 9%;">The algorithm detects to a pixel levels species and objects in the water. Once all the objects in the image are detected, a water quality score is assigned.</p>
            </div>
            <div class="col-lg-6 col-md-12">
              <h3 style="color: #404040;" ngStyle.lt-sm="font-size: 1.4em;">Reliable</h3>
              <p style="color: #404040;  margin-top: 10%;" ngStyle.lt-lg="margin-top: 3%;">Our software has undergone thousands of images of testing, and has proven reliable in the detection of various marine objects.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-section" style="background-color: white;">
  <div class="mx-auto" style="width: 77%;">
    <div class="row">
      <div class="col-lg-5 col-md-12" fxHide fxShow.lt-lg>
        <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/buoy.png?alt=media&token=9db7f06a-84a5-46fb-8add-1c027f2db980" style="width: 99%;">
      </div>
      <div class="col-lg-7 col-md-12">
        <mat-card animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="customCard shadow" style="margin-top: 12%;">
          <div style="margin-left: 2%;">
            <p class="headerHomeCards" style="font-size: 3.3em; margin-bottom: -4%; margin-top: 1% !important;" ngStyle.lt-sm="font-size: 1.8em; margin-top: 5%;">Mobile Buoy System</p>
            <p class="headerHomeCards" style="font-size: 2em; margin-bottom: 3%;" ngStyle.lt-sm="font-size: 1.3em;">Revolutionary Marine Monitoring</p>
            <p class="subtextHomeCards" style="font-size: 1.4em; margin-bottom: 2%;" ngStyle.lt-sm="font-size: 1em; margin-bottom: 4%;">BioSeer's mobile buoy integrates seamlessly into the system of BioSeer products. Designed for long deployment times, the BioSeer mobile buoy uses adaptive buoyancy systems and thrusters to navigate and explore its enviornment, allowing users to take a larger scope of data than ever before. The advanced sensor system transmits live data to the dashboard, making monitoring marine enviornments easy.</p>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-5 col-md-12" fxHide.lt-lg>
        <img src="https://firebasestorage.googleapis.com/v0/b/bioseer-c55f5.appspot.com/o/buoy-small.png?alt=media&token=7a2fe9ec-f99b-4e57-80a6-908627d04ebf" id="buoy" style="width: 99%;">
      </div>
    </div>
  </div>
</section>

<section class="content-section imagetransition" id="lastsection">
  <!--<div class="gradient2"></div>-->
  <!--<div class="gradient3"></div>-->
  <!--<div class="col-12 my-5">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-5">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-5">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-5">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-5" fxHide fxShow.gt-sm="true">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-5" fxHide fxShow.gt-sm="true">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-5" fxHide fxShow.gt-sm="true">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-5" fxHide fxShow.gt-sm="true">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-3">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-lg-6 col-md-12 float-right">-->
    <!--<h1 animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" style="color: white; visibility: hidden;" ngStyle.gt-lg="font-size: 13em !important;" ngStyle.lt-lg="font-size: 6em !important; margin-left: 3%;">USE CASES</h1>-->
  <!--</div>-->
  <!--<div class="col-12 my-5">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-5">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-5">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-5" fxHide fxShow.gt-sm="true">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <!--<div class="col-12 my-5" fxHide fxShow.gt-sm="true">-->
    <!--<p style="visibility: hidden;">.</p>-->
  <!--</div>-->
  <div class="row mx-3">
    <div class="col-lg-6 col-md-12">
      <div class="mx-auto">
        <mat-card animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="customCard shadow max-600px mx-auto" style="margin-top: 12%;">
          <div style="margin-left: 2%; margin-right: 2%;">
            <p class="headerHomeCards" style="font-size: 3.3em; margin-bottom: -4%; margin-top: 1% !important;" ngStyle.lt-sm="font-size: 2.3em;">Marine Research</p>
            <p class="headerHomeCards" style="font-size: 2em; margin-bottom: 3%;" ngStyle.lt-sm="font-size: 1.3em;">Cheap and Effective for Long Term Data Collection</p>
            <p class="subtextHomeCards" style="font-size: 1.4em; margin-bottom: 2%;" ngStyle.lt-sm="font-size: 1em;">BioSeer products utilize big data techniques for analysis, saving expensive human assets. View a variety of metrics, such as biodiversity, or temperature live from our dashboard, and see long-term trends in data. Unlike research vessels, BioSeer Buoys can collect data 24/7 for months at a time without intervention, making close-interval long-term data collection a reality.</p>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-4" fxHide.lt-lg="true">
      <p style="visibility: hidden;">.</p>
    </div>
  </div>
  <div class="row mx-3">
    <div class="col-8 col-lg-6" fxHide.lt-lg="true">
      <p style="visibility: hidden;">.</p>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="mx-auto">
        <mat-card animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="customCard shadow max-600px mx-auto" style="margin-top: 12%; ">
          <div style="margin-left: 2%; margin-right: 2%;">
            <p class="headerHomeCards" style="font-size: 3.3em; margin-bottom: -4%; margin-top: 1% !important;" ngStyle.lt-sm="font-size: 2.3em;">Monitor Human Impact</p>
            <p class="headerHomeCards" style="font-size: 2em; margin-bottom: 3%;" ngStyle.lt-sm="font-size: 1.3em;">Keep Track of Pollution</p>
            <p class="subtextHomeCards" style="font-size: 1.4em; margin-bottom: 2%;" ngStyle.lt-sm="font-size: 1em;">Show that you care about our enviornment. Monitor the effect  of your manufacturing or other facilities on the enviornment. Deploy a few sensors, and open access to live enviornment monitoring to show your support for the enviornment. Improve your companies productivity by maintaining a positive public image, and ensure your company helps keep marine enviornments alive and well.</p>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="row mx-3">
    <div class="col-lg-6 col-md-12">
      <div class="mx-auto">
        <mat-card animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="customCard shadow max-600px mx-auto" style="margin-top: 12%;">
          <div style="margin-left: 2%; margin-right: 2%;">
            <p class="headerHomeCards" style="font-size: 3.3em; margin-bottom: -4%; margin-top: 1% !important;" ngStyle.lt-sm="font-size: 2.3em;">Water Management</p>
            <p class="headerHomeCards" style="font-size: 2em; margin-bottom: 3%;" ngStyle.lt-sm="font-size: 1.3em;">Make Well-Informed Decisions</p>
            <p class="subtextHomeCards" style="font-size: 1.4em; margin-bottom: 2%;" ngStyle.lt-sm="font-size: 1em;">Marine enviornments are crucial to the economy in a variety of ways, from tourism to fishing. In the managment of these ecosystems to ensure their vitality, BioSeer provides a wide range of data to help you make informed decisions about water management. BioSeer helps you visualize trends in data to make well-informed decisions to preserve our marine enviornments.</p>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-4" fxHide.lt-lg="true">
      <p style="visibility: hidden;">.</p>
    </div>
  </div>
</section>

<section class="content-section filler-section" ngStyle.lt-lg="height: 51vh;"></section>

<section class="content-section" style="background-color: white;">
  <div class="row mx-5">
    <div class="col-lg-4 col-md-12">
      <h1 class="headerHomeCards" style="font-size: 2.3em;" ngStyle.lt-sm="font-size: 1.4em;">Interested in Technical Aspects?</h1>
      <p class="subtextHomeCards" style="font-size: 1.4em; margin-top: 6%;" ngStyle.lt-sm="font-size: 1em;">Check our techreport, Github Repo for the algorithm, Github Repo for this webpage, or contact us if you have any other questions.</p>
    </div>
  </div>
</section>
