<!-- Header -->
<header class="masthead">
  <div class="gradient1"></div>
  <div class="container text-center" style="margin-top: 10%;">
    <img src="assets/img/logo.png" class="logo mb-5 animated fadeInDown delay-1s">
    <h3 class="mb-5 text-grey-70 animated fadeInDown delay-1s">
      <em>Changing the Tide of Marine Monitoring</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger animated fadeInDown delay-1s" href="#about">Find Out More</a>
  </div>
  <div class="overlay"></div>
</header>

<section class="content-section" style="background-color: white;" id="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row">
          <div class="col-6">
            <h2 style="margin-top: 6%;">About the Project</h2>
          </div>
          <div class="col-6" style="margin-top: -4%;">
              <a animateOnScroll animationName="afterani shadow-slide" class="btn aboutbutton mb-5" href="#software">
                <h4 class="mt-2">Software</h4>
              </a>
              <a animateOnScroll animationName="afterani shadow-slide" class="btn aboutbutton" href="#hardware">
                <h4 class="mt-2">Hardware</h4>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section class="content-section" style="background-color: white;">
  <mat-card animateOnScroll animationName="afterani shadow-slide" class="bioseercard">
    <div class="container text-center">
      <h4>BioSeer</h4>
    </div>
  </mat-card>
  <div class="row" style="width: 100%">
    <div class="col-6">
      <img src="assets/img/turtle.jpg" class="leftimgturtle">
    </div>
    <div class="padding">
      <div animateOnScroll animationName="afterani animated fadeInUp" class="tripleinfo">
        <div class="row">
          <div class="col-4 text-center">
            <h5>BLANK</h5>
            <p>Lipsum iscso ifnondoau bdwonawo dinaow dnaouenf oaindoi</p>
          </div>
          <div class="col-4 text-center">
            <h5>NAN</h5>
            <p>Lipsum iscsoif nondoaubdw onawo dinaowd naouen foaindoi</p>
          </div>
          <div class="col-4 text-center">
            <h5>ERROR 404</h5>
            <p>Lipsum iscso ifnon doaubdw ona wodinaow dnaouen fo aindoi</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-section imagetransition" id="image">
  <div class="gradient2"></div>
  <img src="assets/img/waterimage.png" style="visibility: hidden;">
  <div animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="container1">
    <div class="row">
      <div class="col-8">
        <img src="assets/img/jellys.jpg" style="width: 100%;">
      </div>
      <div class="col-4 text-white mt-3">
        <h5>ERROR 404</h5>
        <p>Lipsum iscso ifnon doaubdw ona wodinaow dnaouen fo aindoi</p>
      </div>
    </div>
  </div>
  <div animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="container2">
    <div class="row">
      <div class="col-8">
        <img src="assets/img/nemo.jpg" style="width: 100%;">
      </div>
      <div class="col-4 text-white mt-3">
        <h5>ERROR 404</h5>
        <p>Lipsum iscso ifnon doaubdw ona wodinaow dnaouen fo aindoi</p>
      </div>
    </div>
  </div>
  <div class="gradient3"></div>
</section>


<!-- Call to Action -->
<section class="content-section text-white footer" style="background-color: rgba(9,29,30,1);">
  <div class="container text-center">
    <h2 animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="mb-4 contactus" style="visibility: hidden">Contact Us</h2>
    <div animateOnScroll animationName="afterani animated animatedFadeInUp fadeInUp" class="container text-center" style="visibility: hidden">
      <h5>Email: bioseercontact@gmail.com</h5>
      <a class="btn btn-dark btn-xl js-scroll-trigger mt-2" href="mailto:bioseercontact@gmail.com">Email Us</a>
    </div>
  </div>
</section>
