<div class="container-fluid">
  <!--<div class="row">-->
    <!--<div class="col-1">-->

    <!--</div>-->
    <!--<div class="col-5 text-center">-->
      <!--<mat-card class="mt-3" style="background-color: rgba(253,253,253,0.99);">-->
        <!--<h1>Upload Files for Analysis</h1>-->
        <!--<h3>Files must be in png format, 256x256 pixels</h3>-->
        <!--<br>-->
        <!--<p>1. First Fill in Form</p>-->
        <!--<p>2. Press Upload and Choose Photos to Submit</p>-->
        <!--<p>3. Begin Photo Upload</p>-->
        <!--&lt;!&ndash;<button mat-raised-button color="primary" (click)="fileInput.click()">Click to Upload File</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<input hidden id="singleFile" type="file" #fileInput [fileUploadInputFor]="fileUploadQueue" accept="image/x-png/">&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->

        <!--&lt;!&ndash;<p>or...</p>&ndash;&gt;-->

        <!--&lt;!&ndash;<div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">&ndash;&gt;-->
          <!--&lt;!&ndash;Just drag and drop files here&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<div class="text-center mx-auto" style="width: 500px">&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-file-upload-queue #fileUploadQueue&ndash;&gt;-->
                                 <!--&lt;!&ndash;[fileAlias]="'file'"&ndash;&gt;-->
                                 <!--&lt;!&ndash;[httpUrl]="'http://file.io'"&ndash;&gt;-->
                                 <!--&lt;!&ndash;accept="image/x-png"&ndash;&gt;-->
                                 <!--&lt;!&ndash;multiple>&ndash;&gt;-->

            <!--&lt;!&ndash;<mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>&ndash;&gt;-->
          <!--&lt;!&ndash;</mat-file-upload-queue>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</mat-card>-->
    <!--</div>-->

    <!--<div class="col-5 text-center">-->
      <!--<mat-card class="mt-3" style="background-color: rgba(253,253,253,0.99);">-->
        <!--<h3>Metadata</h3>-->
        <!--<div class="form-container mx-auto">-->
          <!--<mat-form-field class="m-1">-->
            <!--<input matInput placeholder="SensorID">-->
            <!--<mat-hint>Default is UPLOAD, don't touch this unless you know what you're doing</mat-hint>-->
          <!--</mat-form-field>-->

          <!--<mat-form-field class="m-1">-->
            <!--<input matInput placeholder="Sensor Name">-->
            <!--<mat-hint>Default is UPLOAD, don't touch this unless you know what you're doing</mat-hint>-->
          <!--</mat-form-field>-->

          <!--<mat-form-field class="m-1">-->
            <!--<input matInput [matDatepicker]="date" placeholder="Date Data Collected">-->
            <!--<mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>-->
            <!--<mat-datepicker #date></mat-datepicker>-->
          <!--</mat-form-field>-->

          <!--<mat-form-field class="m-1">-->
            <!--<mat-select placeholder="Zone Location">-->
              <!--<mat-option value="zone1">Zone 1</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->
        <!--</div>-->
        <!--<app-file-upload (clicked)="onSubmit()" (complete)="onFileComplete($event)"></app-file-upload>-->
      <!--</mat-card>-->
      <!--&lt;!&ndash; Options for Other Data &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-1">-->

    <!--</div>-->
  <!--</div>-->
  <app-file-upload></app-file-upload>
</div>

